{% extends "base_bootstrap.html" %}
{% block title %}
    Django TestApp Index
{% endblock title %}
{% block content %}
    <h1>Django TestApp Index</h1>
    <ul>
        {#These regex paths have to inserted manually b/c my current templates expects one positional paramater#}
        <li>
            <a href="{% url 'site_path' '' %}">Example simple HTML</a>
        </li>
        <li>
            <a href="{% url 'example_path' '' %}">Example CSS</a>
        </li>
        {% for url_path, label in reverse_urls %}
            <li>
                <a href="{% url url_path %}">{{ label }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
